<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
</head>
<body>
	<div class="container" style="max-width: 700px">
		<table>
			<thead>
				<tr>
					<th>序號</th>
					<th>書名</th>
					<th>作者</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="book, iterStat:${books}" th:class="${iterStat.even} ? 'bg-success'">
					<td th:text="${iterStat.count}">1</td>
					<td><a href="#" th:text="${book.name}" th:href="@{/books/{id}(id=${book.id})}"></a></td>
					<td th:text="${book.name}">書名</td>
					<td th:text="${book.author}">作者</td>
				</tr>
			</tbody>
			
		
		</table>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</body>
</html>