<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container" style="max-width: 700px">
		<p class="text-right"><a href="#" th:href="@{/Emp/add}" class="btn btn-primary">新增</a></p>
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>編號</th>
					<th>員工代號</th>
					<th>姓名</th>
					<th>性別</th>
					<th>部門</th>
					<th>電話</th>
					<th>Email</th>					
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="emp, iterStat:${empList}" >
					<td th:text="${emp.empID}">編號</td>
					<td th:text="${emp.empNo}">員工代號</td>					
					<td th:text="${emp.name}">姓名</td>
					<td th:text="${emp.sex}">性別</td>
					<td th:text="${emp.dept.deptName}">部門</td>
					<td th:text="${emp.phone}">電話</td>	
					<td th:text="${emp.email}">Email</td>									
	                <td>
	                    <a th:href="@{/Emp/{id}/mod(id=${emp.empID})}" >更新</a>
	                    <a class="btnDelete" th:href="@{/Emp/{id}/delete(id=${emp.empID})}" >刪除</a>
	                </td>
				</tr>
			</tbody>			
		
		</table>
	</div>
	
	<div align="center">
		<div th:replace="fragments/footer :: footer"></div>
	</div>
	
	<script type="text/javascript">	
	    $(document).ready(function(){
	    	$(".btnDelete").click(function(){
	    		if(confirm("是否確定刪除？")){
					return true;
				}
				return false;
			})
	    });
	</script>	
	
</body>
</html>